.lemma_edit{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.lemma_pos_edit button{
	float: right;
}

.semantics_edit, .translations_edit, .etymology_edit{
	border-bottom-style: dotted;
	border-bottom-width: 1px;

	padding: 20px;
}

.language, .etyEntry{
	padding: 20px;
	padding-left: 100px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
.smsFormInput input, .etyWord, .etyType{
	font-weight: bold;
}
.deleteButton {
	cursor: pointer;
	color: red;
}
td{
	text-align: center;
}
.saveButton{
	margin-top: 100px;
	font-weight: bold;
}
.etymology_edit ul{
	list-style: none;
}
.etyType{
	margin-right: 10px;
}
.etyEntry .deleteButton{
	margin-left: 20px;
}